# PML-CAP10-Multiple Regresion

In [26]:
import pandas as pd
import numpy as np
df=pd.read_csv("csv/FuelConsumptionCo2.csv")
cdf=df[['CYLINDERS','TRANSMISSION','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB','FUELCONSUMPTION_COMB_MPG','CO2EMISSIONS']]

### Step 1 - Order all the points of each variable in a separate column.

In [27]:
X=cdf[['CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB','FUELCONSUMPTION_COMB_MPG']]
display(X)

,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG
0,4,9.9,6.7,8.5,33
1,4,11.2,7.7,9.6,29
2,4,6.0,5.8,5.9,48
3,6,12.7,9.1,11.1,25
4,6,12.1,8.7,10.6,27
...,...,...,...,...,...
1062,6,13.4,9.8,11.8,24
1063,6,13.2,9.5,11.5,25
1064,6,13.4,9.8,11.8,24
1065,6,12.9,9.3,11.3,25
1066,6,14.9,10.2,12.8,22

### Step 2 - Combine all the columns of the independent variables to be represented as a matrix.
### Step 5 - Make a separate column matrix of all independent variables and call it Y Matrix.

In [28]:
Y=cdf[['CO2EMISSIONS']]
display(Y)

      CO2EMISSIONS
0              196
1              221
2              136
3              255
4              244
...            ...
1062           271
1063           264
1064           271
1065           260
1066           294

[1067 rows x 1 columns]

### Step 3 - Add a column to the 1's at the beginning of the matrix.
### Step 4 - Name this matrix as X Matrix

In [29]:
X.insert(0, 'B1', 1)
display(X)

,B1,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG
0,1,4,9.9,6.7,8.5,33
1,1,4,11.2,7.7,9.6,29
2,1,4,6.0,5.8,5.9,48
3,1,6,12.7,9.1,11.1,25
4,1,6,12.1,8.7,10.6,27
...,...,...,...,...,...,...
1062,1,6,13.4,9.8,11.8,24
1063,1,6,13.2,9.5,11.5,25
1064,1,6,13.4,9.8,11.8,24
1065,1,6,12.9,9.3,11.3,25
1066,1,6,14.9,10.2,12.8,22

### Step 6 - Compute the coefficients using the formula here (this is the least square regression): B = (Ttrans(X)*X)^-1*Trans(X)*Y)

In [53]:
XTX=X.T.dot(X)
XTXINV=np.linalg.matrix_power(XTX, -1)
XTY=X.T.dot(Y)
B=XTXINV.dot(XTY)
display(XTX)
display(XTY)
display(B)

,B1,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG
B1,1067.0,6183.0,14187.40,10109.40,12356.80,28213.0
CYLINDERS,6183.0,39273.0,88471.40,62461.30,76792.50,152462.0
FUELCONSUMPTION_CITY,14187.4,88471.4,206573.64,146218.55,179473.46,344584.8
FUELCONSUMPTION_HWY,10109.4,62461.3,146218.55,104107.24,127311.76,247420.7
FUELCONSUMPTION_COMB,12356.8,76792.5,179473.46,127311.76,156053.86,300979.4
FUELCONSUMPTION_COMB_MPG,28213.0,152462.0,344584.80,247420.70,300979.40,805455.0

                          CO2EMISSIONS
B1                            273396.0
CYLINDERS                    1687436.0
FUELCONSUMPTION_CITY         3884029.0
FUELCONSUMPTION_HWY          2753001.4
FUELCONSUMPTION_COMB         3376235.1
FUELCONSUMPTION_COMB_MPG     6771661.0

array([[251.04777342],
       [ 12.78035724],
       [-10.39350703],
       [ -2.72057539],
       [ 17.41251499],
       [ -4.0299033 ]])

### Linear regresion model

In [48]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
regr.fit(X,Y)
print('Coef',regr.coef_)
print('Intercept',regr.intercept_)

Coef [[  0.          12.78035724 -10.39350703  -2.72057539  17.41251499
   -4.0299033 ]]
Coef [251.04777342]

### Se selecciona el conjuto de datos train y test

In [57]:
np.random.seed(1234)
msk=np.random.rand(len(cdf))<0.8
train=cdf[msk]
test=cdf[~msk]

### Mean Square Steps Regresion

In [120]:
train_x=train[['CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB','FUELCONSUMPTION_COMB_MPG']]
train_y=train[['CO2EMISSIONS']]
train_x.insert(0,'B',1)

### Fit the model

In [107]:
# Formula B=(XTX)^-1 * (XTY)
train_XTX=train_x.T.dot(train_x)
train_XTXINV=np.linalg.matrix_power(train_XTX,-1)
train_XTY=train_x.T.dot(train_y)
train_B=train_XTXINV.dot(train_XTY)
print('Coef',train_B)
print('Intercept',train_B[0][0])
train_EY=train_x.dot(train_B)

Coef [[249.35438715]
 [ 13.33206666]
 [-13.50441141]
 [ -2.8388837 ]
 [ 20.9786646 ]
 [ -4.03415544]]
Intercept 249.35438714612064

### Predict Test Data

In [111]:
test_x=test[['CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB','FUELCONSUMPTION_COMB_MPG']]
test_y=test[['CO2EMISSIONS']]
test_x.insert(0,'B',1)
pred_EY=test_x.dot(train_B)

### Calculate Metrcis

In [109]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
print('MAE',mean_absolute_error(test_y,pred_EY))
print('MSE',mean_squared_error(test_y,pred_EY))
print('R2', r2_score(test_y,pred_EY))

MAE 13.774232019575924
MSE 454.33267924270007
R2 0.8716337955150105

### Regresion Sklearn

In [110]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
train_x=train[['CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB','FUELCONSUMPTION_COMB_MPG']]
train_y=train[['CO2EMISSIONS']]
test_x=test[['CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB','FUELCONSUMPTION_COMB_MPG']]
test_y=test[['CO2EMISSIONS']]
regr.fit(train_x,train_y)
print('Coef',regr.coef_)
print('Intercept',regr.intercept_)
pred_EY=regr.predict(test_x)

Coef [[ 13.33206666 -13.50441141  -2.8388837   20.97866459  -4.03415544]]
Intercept [249.35438715]

### Calulate Metrics

In [123]:
from sklearn.metrics import r2_score
print('R2',r2_score(test_y,pred_EY))

R2 0.8716337955150105